<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <springProperty name="LOG_FILE_PATH" source="log-file-path"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[%yellow(%d{yyyy-MM-dd HH:mm:ss.SSS})] [%highlight(%-5level)] - %magenta(%-4relative) - [ %thread{10} ] %cyan(%logger{20}) : %msg%n </Pattern>
        </layout>
    </appender>

    <springProfile name="local-server,local-client,dev-client">
        <logger name="p6spy" level="OFF" />

        <root level="INFO">
            <appender-ref ref="STDOUT" />
        </root>
    </springProfile>

    <!-- Profile : Local -->
    <springProfile name="local-server,local-client,dev-server,dev-client">
        <appender name="ERROR_ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_FILE_PATH}/${tcp.port}/error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>100MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>
            <encoder>
                <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] - %-4relative - [ %thread{10} ] %logger{20} : %msg%n </pattern>
            </encoder>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>

        <appender name="INFO_ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_FILE_PATH}/${tcp.port}/info-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>1024MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
                <maxHistory>1</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] - %-4relative - [ %thread{10} ] %logger{20} : %msg%n </pattern>
            </encoder>
        </appender>

        <appender name="TCP_ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_FILE_PATH}/${tcp.port}/tcp-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>1024MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
                <maxHistory>1</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] - %-4relative - [ %thread{10} ] %logger{20} : %msg%n </pattern>
            </encoder>
        </appender>

        <appender name="HTTP_ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_FILE_PATH}/${tcp.port}/http-%d{yyyy-MM}.%i.log</fileNamePattern>
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>1024MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
                <maxHistory>1</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] - %-4relative - [ %thread{10} ] %logger{20} : %msg%n </pattern>
            </encoder>
        </appender>

        <appender name="CLIENT_ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_FILE_PATH}/${tcp.port}/client-%d{yyyy-MM}.%i.log</fileNamePattern>
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>1024MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
                <maxHistory>1</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] - %-4relative - [ %thread{10} ] %logger{20} : %msg%n </pattern>
            </encoder>
        </appender>

        <logger name="HTTP" level="INFO">
            <appender-ref ref="HTTP_ROLLING" />
        </logger>

        <logger name="TCP" level="INFO">
            <appender-ref ref="TCP_ROLLING" />
        </logger>

        <logger name="CLIENT" level="INFO">
            <appender-ref ref="CLIENT_ROLLING" />
        </logger>

        <root level="INFO">
            <appender-ref ref="ERROR_ROLLING" />
        </root>
    </springProfile>
</configuration>